CompileFlags:
  Add:
    - "-nostdinc"
    - "-nostdinc++"
    - "-nobuiltininc"
    - "-ffreestanding"
    - "-fno-builtin"
    - "-ferror-limit=0"
  Remove:
    - "-isystem*"
    - "-I/usr*"
    - "--driver-mode=*"
  CompilationDatabase: "build/"
Index:
  Background: Skip
  StandardLibrary: false
Style:
  FullyQualifiedNamespaces:
    - std
    - SGEXTN
  AngledHeaders: "*"
Diagnostics:
  ClangTidy:
    Remove: "*"
  UnusedIncludes: None
  MissingIncludes: None
Completion:
  AllScopes: No
  ArgumentLists: Delimiters
  HeaderInsertion: Never
  MacroFilter: ExactPrefix
InlayHints:
  Enabled: false
