CompileFlags:
  Add:
    - "-nostdinc"
    - "-nostdinc++"
    - "-nobuiltininc"
    - "-ffreestanding"
    - "-fno-builtin"
    - "-ferror-limit=0"
  CompilationDatabase: "build/"
Index:
  Background: Skip
  StandardLibrary: false
Diagnostics:
  ClangTidy:
    Remove: "*"
  UnusedIncludes: None
  MissingIncludes: None
Completion:
  AllScopes: No
  ArgumentLists: Delimiters
  HeaderInsertion: Never
