Checks: '
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -cert-*,
  -clang-analyzer-*,
  -concurrency-*,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-string-literal-with-embedded-nul,
  -bugprone-throwing-static-initialization,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-use-default-member-init,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-equals-default,
  -modernize-use-integer-sign-comparison,
  -modernize-use-trailing-return-type,
  -portability-avoid-pragma-once,
  -readability-container-size-empty,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-redundant-parentheses,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix,
  -readability-use-std-min-max,
  altera-struct-pack-align,
  google-explicit-constructor
'
WarningsAsErrors: ''
HeaderFileExtensions: ['', 'h']
ImplementationFileExtensions: ['cpp']
FormatStyle: none
HeaderFilterRegex: '.*'
SystemHeaders: false
