name: deploy SGEXTN application

on:
  workflow_call:
    inputs:
      app-name:
        required: true
        description: name of your application executable, example my-application
        type: string
      app-version:
        required: true
        description: version number of your application, example 1.0.0
        type: string
      qt-version:
        required: true
        description: version of Qt to use, it is preferred that this matches the Qt version you have on your development machine, example 6.10.1
        type: string
      cmake-target-name:
        required: true
        description: name of CMake target for your application executable, this is used to locate the executable, the executable will be renamed after that
        type: string
      platforms:
        required: true
        description: space separated list of platforms to build for paired with compiler to use, each job in this workflow corresponds to a supported platform, example linux-gcc windows-llvm-mingw
        type: string

jobs:
  linux-gcc-build:
    if: contains(format(" {0} ", ${{inputs.platforms}}), " linux-gcc ")
    runs-on: ubuntu-22.04
    steps:
      - name: Linux GCC build
        uses: InfinityIntegral/SGEXTN/actions/linux_gcc_build@main
        with:
          app-name: ${{inputs.app-name}}
          app-version: ${{inputs.app-version}}
          qt-version: ${{inputs.qt-version}}
          cmake-target-name: ${{inputs.cmake-target-name}}

  macos-clang-build:
    if: contains(format(" {0} ", ${{inputs.platforms}}), " macos-clang ")
    runs-on: macos-latest
    steps:
      - name: MacOS Clang build
        uses: InfinityIntegral/SGEXTN/actions/macos_clang_build@main
        with:
          app-name: ${{inputs.app-name}}
          app-version: ${{inputs.app-version}}
          qt-version: ${{inputs.qt-version}}
          cmake-target-name: ${{inputs.cmake-target-name}}

  windows-llvm-mingw-build:
    if: contains(format(" {0} ", ${{inputs.platforms}}), " windows-llvm-mingw ")
    runs-on: windows-latest
    steps:
      - name: Windows LLVM MinGW build
        uses: InfinityIntegral/SGEXTN/actions/windows_llvm_mingw_build@main
        with:
          app-name: ${{inputs.app-name}}
          app-version: ${{inputs.app-version}}
          qt-version: ${{inputs.qt-version}}
          cmake-target-name: ${{inputs.cmake-target-name}}

  windows-mingw-build:
    if: contains(format(" {0} ", ${{inputs.platforms}}), " windows-mingw ")
    runs-on: windows-latest
    steps:
      - name: Windows MinGW build
        uses: InfinityIntegral/SGEXTN/actions/windows_mingw_build@main
        with:
          app-name: ${{inputs.app-name}}
          app-version: ${{inputs.app-version}}
          qt-version: ${{inputs.qt-version}}
          cmake-target-name: ${{inputs.cmake-target-name}}

  windows-msvc-build:
    if: contains(format(" {0} ", ${{inputs.platforms}}), " windows-msvc ")
    runs-on: windows-latest
    steps:
      - name: Windows MSVC build
        uses: InfinityIntegral/SGEXTN/actions/windows_msvc_build@main
        with:
          app-name: ${{inputs.app-name}}
          app-version: ${{inputs.app-version}}
          qt-version: ${{inputs.qt-version}}
          cmake-target-name: ${{inputs.cmake-target-name}}

  windows-arm-msvc-build:
    if: contains(format(" {0} ", ${{inputs.platforms}}), " windows-arm-msvc ")
    runs-on: windows-11-arm
    steps:
      - name: Windows ARM MSVC build
        uses: InfinityIntegral/SGEXTN/actions/windows_arm_msvc_build@main
        with:
          app-name: ${{inputs.app-name}}
          app-version: ${{inputs.app-version}}
          qt-version: ${{inputs.qt-version}}
          cmake-target-name: ${{inputs.cmake-target-name}}

  linux-arm-gcc-build:
    if: contains(format(" {0} ", ${{inputs.platforms}}), " linux-arm-gcc ")
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Linux ARM GCC build
        uses: InfinityIntegral/SGEXTN/actions/linux_arm_gcc_build@main
        with:
          app-name: ${{inputs.app-name}}
          app-version: ${{inputs.app-version}}
          qt-version: ${{inputs.qt-version}}
          cmake-target-name: ${{inputs.cmake-target-name}}

  android-arm64-clang-build:
    if: contains(format(" {0} ", ${{inputs.platforms}}), " android-arm64-clang ")
    runs-on: ubuntu-latest
    steps:
      - name: Android ARM64 Clang build
        uses: InfinityIntegral/SGEXTN/actions/android_arm64_clang_build@main
        with:
          app-name: ${{inputs.app-name}}
          app-version: ${{inputs.app-version}}
          qt-version: ${{inputs.qt-version}}
          cmake-target-name: ${{inputs.cmake-target-name}}
