name: Linux build and test

on:
  workflow_dispatch:

env:
  APPNAME: sg-extn
  VERSION: 6.1.0
  QTVERSION: 6.10.1
  CMAKETARGET: InternalTest

jobs:
  build:
    name: build app
    runs-on: ubuntu-22.04

    steps:
      - name: pull repository
        uses: actions/checkout@v3

      - name: install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QTVERSION}}
          host: linux
          target: desktop
          dir: ${{github.workspace}}/..
          cache: true
          modules: qtshadertools

      - name: install devtools
        run: |
          cd ..
          sudo apt-get update
          sudo apt-get install -y build-essential
          sudo apt-get install -y cmake
          sudo apt-get install -y git
          sudo apt-get install -y libfuse2

      - name: delete unnecessary Qt plugins
        run: |
          cd ../Qt/${{env.QTVERSION}}/gcc_64/plugins
          rm -rf designer
          rm -rf help
          rm -rf printsupport
          rm -rf sqldrivers

      - name: build linuxdeployqt
        run: |
          cd ..
          git clone https://github.com/probonopd/linuxdeployqt.git
          cd linuxdeployqt
          mkdir build
          cd build
          cmake .. -DCMAKE_PREFIX_PATH=../../Qt/${{env.QTVERSION}}/gcc_64
          cmake --build .
          cp ../../Qt/${{env.QTVERSION}}/gcc_64/libexec/qmlimportscanner tools/linuxdeployqt/qmlimportscanner
          chmod +x tools/linuxdeployqt/qmlimportscanner

      - name: get appimagetool which linuxdeployqt needs
        run: |
          cd ..
          mkdir -p appimagetool
          cd appimagetool
          wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage
          mv appimagetool-x86_64.AppImage appimagetool
          chmod +x appimagetool

      - name: build application binary
        run: |
          export PATH=${{github.workspace}}/../Qt/${{env.QTVERSION}}/gcc_64/bin:$PATH
          export PATH=${{github.workspace}}/../Qt/${{env.QTVERSION}}/gcc_64/libexec:$PATH
          export PATH=${{github.workspace}}/../appimagetool:$PATH
          export QML_IMPORT_PATH=${{github.workspace}}/../Qt/${{env.QTVERSION}}/gcc_64/qml
          mkdir -p build
          cd build
          cmake .. -DCMAKE_PREFIX_PATH=../../Qt/${{env.QTVERSION}}/gcc_64
          cmake --build .
          cd ..
          mkdir -p package/${{env.APPNAME}}.AppDir/usr/bin
          cp $(find build -type f -executable -name "${{env.CMAKETARGET}}") package/${{env.APPNAME}}.AppDir/usr/bin/${{env.APPNAME}}
          mkdir -p package/${{env.APPNAME}}.AppDir/usr/lib
          find build -type f -name "*.so*" -exec cp {} package/${{env.APPNAME}}.AppDir/usr/lib/ \; -exec echo "Copied {} to usr/lib" \;
          mkdir -p package/${{env.APPNAME}}.AppDir/usr/share/applications
          echo -e "[Desktop Entry]\nType=Application\nName=SGEXTN Internal Test\nExec=${{env.APPNAME}}\nIcon=${{env.APPNAME}}\nComment=test application to see if SGEXTN has been packaged properly\nCategories=Utility;" > package/${{env.APPNAME}}.AppDir/usr/share/applications/${{env.APPNAME}}.desktop
          mkdir -p package/${{env.APPNAME}}.AppDir/usr/share/icons/hicolor/256x256/apps
          cp SG_Widgets/assets/SGEXTN_icon.png package/${{env.APPNAME}}.AppDir/usr/share/icons/hicolor/256x256/apps/${{env.APPNAME}}.png
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/qmllint
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/qmlls
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/qmltooling
          ../linuxdeployqt/build/tools/linuxdeployqt/linuxdeployqt package/${{env.APPNAME}}.AppDir/usr/share/applications/${{env.APPNAME}}.desktop -appimage -qmldir=${{github.workspace}}/SG_Widgets/assets
          mv "$(find . -maxdepth 1 -type f -name '*.AppImage')" ${{env.APPNAME}}.AppImage
          chmod +x ${{env.APPNAME}}.AppImage
          echo "using Qt version ${{env.QTVERSION}}" > version.txt
          echo "using compiler version $(g++ --version | head -n 1)" >> version.txt
          echo "building application ${{env.APPNAME}} version ${{env.VERSION}}" >> version.txt

      - name: delete everything to ensure app can run on machine of non programmer user
        run: |
          rm -rf Qt
          rm -rf linuxdeployqt
          rm -rf appimagetool
          sudo apt-get remove --purge -y build-essential
          sudo apt-get remove --purge -y cmake
          sudo apt-get remove --purge -y libfuse2
          sudo apt-get remove --purge -y g++
          sudo apt-get remove --purge -y gcc
          sudo apt-get remove --purge -y git
          sudo apt-get remove --purge -y qt*
          sudo apt-get autoremove -y
          sudo apt-get install -y libstdc++6

      - name: test run app
        id: run_app
        run: |
          export PATH=/usr/bin:/bin:/usr/sbin:/sbin
          ${{env.APPNAME}}.AppImage --SG-test > logs.txt 2>&1
          EXIT_CODE=$?
          echo "Exit code: $EXIT_CODE" >> logs.txt
          if [ $EXIT_CODE -ne 0 ]; then
              cat logs.txt
              exit $EXIT_CODE
          fi

      - name: upload binary
        uses: actions/upload-artifact@v4
        with:
          name: linux-gcc-${{env.APPNAME}}-${{env.VERSION}}
          path: |
            build
            package
            logs.txt
            version.txt
            ${{env.APPNAME}}.AppImage
