name: Linux build and test

on:
  workflow_dispatch:

env:
  APPNAME: sg-extn
  VERSION: 6.1.0
  QTVERSION: 6.10.1
  CMAKETARGET: InternalTest
  ICONLOCATION: SG_Widgets/assets/SGEXTN_icon.png
  TESTARG: --SG-test
  DESKTOPNAME: SGEXTN Internal Test
  DESKTOPDESCRIPTION: test application to see if SGEXTN has been packaged properly
  DESKTOPCATEGORY: Utility

jobs:
  build:
    name: build app
    runs-on: ubuntu-22.04

    steps:
      - name: pull repository
        uses: actions/checkout@v3

      - name: install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QTVERSION}}
          host: linux
          target: desktop
          dir: ${{github.workspace}}/..
          cache: true
          modules: qtshadertools

      - name: install devtools
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential
          sudo apt-get install -y cmake
          sudo apt-get install -y git
          sudo apt-get install -y libfuse2

      - name: delete unnecessary Qt plugins
        run: |
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/designer
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/help
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/printsupport
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/sqldrivers

      - name: build linuxdeployqt
        run: |
          cd ..
          git clone https://github.com/probonopd/linuxdeployqt.git
          cd linuxdeployqt
          mkdir build
          cd build
          cmake .. -DCMAKE_PREFIX_PATH=../../Qt/${{env.QTVERSION}}/gcc_64
          cmake --build .
          cp ../../Qt/${{env.QTVERSION}}/gcc_64/libexec/qmlimportscanner tools/linuxdeployqt/qmlimportscanner
          chmod +x tools/linuxdeployqt/qmlimportscanner

      - name: get appimagetool which linuxdeployqt needs
        run: |
          cd ..
          mkdir -p appimagetool
          cd appimagetool
          wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage
          mv appimagetool-x86_64.AppImage appimagetool
          chmod +x appimagetool

      - name: build application binary
        run: |
          mkdir -p build
          cd build
          cmake .. -DCMAKE_PREFIX_PATH=../../Qt/${{env.QTVERSION}}/gcc_64
          cmake --build .

      - name: delete QML tooling
        run: |
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/qmllint
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/qmlls
          rm -rf ../Qt/${{env.QTVERSION}}/gcc_64/plugins/qmltooling

      - name: package app
        run: |
          mkdir -p package/${{env.APPNAME}}.AppDir/usr/bin
          cp $(find build -type f -executable -name "${{env.CMAKETARGET}}") package/${{env.APPNAME}}.AppDir/usr/bin/${{env.APPNAME}}
          mkdir -p package/${{env.APPNAME}}.AppDir/usr/lib
          find build -type f -name "*.so*" -exec cp {} package/${{env.APPNAME}}.AppDir/usr/lib/ \; -exec echo "Copied {} to usr/lib" \;
          mkdir -p package/${{env.APPNAME}}.AppDir/usr/share/applications
          echo -e "[Desktop Entry]\nType=Application\nName=${{env.DESKTOPNAME}}\nExec=${{env.APPNAME}}\nIcon=${{env.APPNAME}}\nComment=${{env.DESKTOPDESCRIPTION}}\nCategories=${{env.DESKTOPCATEGORY}};" > package/${{env.APPNAME}}.AppDir/usr/share/applications/${{env.APPNAME}}.desktop
          mkdir -p package/${{env.APPNAME}}.AppDir/usr/share/icons/hicolor/256x256/apps
          cp ${{env.ICONLOCATION}} package/${{env.APPNAME}}.AppDir/usr/share/icons/hicolor/256x256/apps/${{env.APPNAME}}.png
          export PATH=${{github.workspace}}/../appimagetool:$PATH
          ../linuxdeployqt/build/tools/linuxdeployqt/linuxdeployqt package/${{env.APPNAME}}.AppDir/usr/share/applications/${{env.APPNAME}}.desktop -qmldir=${{github.workspace}}/../SGEXTN/SG_Widgets/assets
          mv package/${{env.APPNAME}}.AppDir/usr ${{env.APPNAME}}
          rm -rf ${{env.APPNAME}}/share
          rm -rf ${{env.APPNAME}}/translations
          chmod +x ${{env.APPNAME}}/bin/${{env.APPNAME}}

      - name: write version file
        run: |
          echo "using Qt version ${{env.QTVERSION}}" > build/version.txt
          echo "using compiler version $(g++ --version | head -n 1)" >> build/version.txt
          echo "building application ${{env.APPNAME}} version ${{env.VERSION}}" >> build/version.txt
          cp build/version.txt ${{env.APPNAME}}/version.txt

      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-gcc-${{env.APPNAME}}-${{env.VERSION}}-build
          path: build

      - name: delete everything to ensure app can run on machine of non programmer user
        run: |
          cd ..
          mv ${{github.workspace}}/${{env.APPNAME}} ${{env.APPNAME}}
          rm -rf SGEXTN
          rm -rf ${{github.workspace}}
          rm -rf Qt
          rm -rf linuxdeployqt
          rm -rf appimagetool
          sudo apt-get remove --purge -y build-essential
          sudo apt-get remove --purge -y cmake
          sudo apt-get remove --purge -y libfuse2
          sudo apt-get remove --purge -y g++
          sudo apt-get remove --purge -y gcc
          sudo apt-get remove --purge -y git
          sudo apt-get remove --purge -y qt*
          sudo apt-get autoremove -y
          sudo apt-get install -y libstdc++6
          mkdir -p ${{github.workspace}}
          mv ${{env.APPNAME}} ${{github.workspace}}/${{env.APPNAME}}

      - name: check dependencies of app
        run: |
          export PATH=/usr/bin:/bin:/usr/sbin:/sbin
          ldd ${{env.APPNAME}}/bin/${{env.APPNAME}}

      - name: test run app
        run: |
          sudo apt-get install -y xvfb
          export PATH=/usr/bin:/bin:/usr/sbin:/sbin
          xvfb-run ./${{env.APPNAME}}/bin/${{env.APPNAME}} ${{env.TESTARG}} > logs.txt 2>&1
          EXIT_CODE=$?
          echo "Exit code: $EXIT_CODE" >> logs.txt
          if [ $EXIT_CODE -ne 0 ]; then
              cat logs.txt
              exit $EXIT_CODE
          fi

      - name: print logs
        if: always()
        run: |
          cat logs.txt

      - name: upload binary
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: linux-gcc-${{env.APPNAME}}-${{env.VERSION}}-binary
          path: ${{env.APPNAME}}

      - name: upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: linux-gcc-${{env.APPNAME}}-${{env.VERSION}}-logs
          path: logs.txt
