name: MacOS Clang build and full package integrity test

on:
  workflow_dispatch:

env:
  APPNAME: sg-extn
  VERSION: 6.1.0
  QTVERSION: 6.10.1
  CMAKETARGET: InternalTest
  TESTARG: --SG-test
  PLATFORM: macos-clang

jobs:
  build:
    name: build app
    runs-on: macos-latest

    steps:
      - name: pull repository
        uses: actions/checkout@v3

      - name: install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QTVERSION}}
          host: mac
          target: desktop
          dir: ${{github.workspace}}/..
          cache: true
          modules: qtshadertools
          tools: 'tools_cmake tools_ninja'

      - name: install devtools
        run: |
          brew install git

      - name: delete unnecessary Qt plugins
        run: |
          rm -rf ../Qt/${{env.QTVERSION}}/macos/plugins/designer
          rm -rf ../Qt/${{env.QTVERSION}}/macos/plugins/help
          rm -rf ../Qt/${{env.QTVERSION}}/macos/plugins/sqldrivers
          rm -rf ../Qt/${{env.QTVERSION}}/macos/plugins/printsupport

      - name: build application binary
        run: |
          mkdir build
          cd build
          ls -R ../../Qt/${{env.QTVERSION}}/macos/lib/QtCore.framework
          cmake .. -G Ninja -DCMAKE_PREFIX_PATH=../../Qt/${{env.QTVERSION}}/macos/pkgconfig -DCMAKE_BUILD_TYPE=Release -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" -DCMAKE_FIND_FRAMEWORK=LAST
          cmake --build .

      - name: delete QML tooling
        run: |
          rm -rf ../Qt/${{env.QTVERSION}}/macos/plugins/qmllint
          rm -rf ../Qt/${{env.QTVERSION}}/macos/plugins/qmlls
          rm -rf ../Qt/${{env.QTVERSION}}/macos/plugins/qmltooling

      - name: package app using macdeployqt
        run: |
          mkdir -p package/${{env.APPNAME}}.app/Contents/MacOS
          mkdir -p package/${{env.APPNAME}}.app/Contents/Frameworks
          cp $(find build -type f -executable -name "${{env.CMAKETARGET}}") package/${{env.APPNAME}}.app/Contents/MacOS/${{env.APPNAME}}
          find build -type f -name "*.dylib" -exec cp {} package/${{env.APPNAME}}.app/Contents/Frameworks/ \; -exec echo "Copied {} to Contents/Frameworks" \;
          ../Qt/${{env.QTVERSION}}/macos/bin/macdeployqt package/${{env.APPNAME}}.app -qmldir=${{github.workspace}}/../SGEXTN/SG_Widgets/assets -no-translate
          mv package/${{env.APPNAME}}.app/Contents ${{env.APPNAME}}
          chmod +x ${{env.APPNAME}}/MacOS/${{env.APPNAME}}

      - name: write version file
        run: |
          echo "using Qt version ${{env.QTVERSION}}" > build/version.txt
          echo "using compiler $(clang --version | head -n1)" >> build/version.txt
          echo "building application ${{env.APPNAME}} version ${{env.VERSION}}" >> build/version.txt
          cp build/version.txt ${{github.workspace}}/${{env.APPNAME}}/version.txt

      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-build
          path: build

      - name: delete everything to ensure app can run on machine of non-programmer user
        run: |
          mv ${{github.workspace}}/${{env.APPNAME}} ${{github.workspace}}/../${{env.APPNAME}}
          rm -rf Qt
          rm -rf SGEXTN/build
          rm -rf build || true
          brew uninstall git
          mv ${{github.workspace}}/../${{env.APPNAME}} ${{github.workspace}}/${{env.APPNAME}}

      - name: test run app
        run: |
          ./ ${{env.APPNAME}}/Contents/MacOS/${{env.APPNAME}} ${{env.TESTARG}} --SG-log-file=${{github.workspace}}/logs.txt
          EXIT_CODE=$?
          echo "Exit code: $EXIT_CODE" >> logs.txt
          exit $EXIT_CODE

      - name: print logs
        if: always()
        run: |
          cat logs.txt

      - name: upload binary
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-binary
          path: ${{env.APPNAME}}

      - name: upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-logs
          path: logs.txt
