name: Windows build and test

on:
  workflow_dispatch:

env:
  APPNAME: sg-extn
  VERSION: 6.1.0
  QTVERSION: 6.10.1
  CMAKETARGET: InternalTest
  TESTARG: --SG-test
  PLATFORM: windows-llvm-mingw

jobs:
  build:
    name: build app
    runs-on: windows-latest

    steps:
      - name: pull repository
        uses: actions/checkout@v3

      - name: install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QTVERSION}}
          host: windows
          target: desktop
          dir: ${{github.workspace}}\..
          cache: true
          modules: qtshadertools
          arch: win64_llvm_mingw
          tools: 'tools_llvm_mingw1706 tools_cmake tools_ninja'

      - name: install devtools
        run: |
          choco install -y git
          choco install -y wget

      - name: delete unnecessary Qt plugins
        run: |
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\designer"
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\help"
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\sqldrivers"

      - name: build application binary
        run: |
          $env:PATH = "${{github.workspace}}\..\Qt\Tools\CMake_64\bin;${{github.workspace}}\..\Qt\Tools\Ninja;${{github.workspace}}\..\Qt\Tools\llvm-mingw1706_64\bin;" + $env:PATH
          mkdir build
          cd build
          cmake .. -G "Ninja" -DCMAKE_PREFIX_PATH=../../Qt/${{env.QTVERSION}}/llvm-mingw_64
          cmake --build . --config Release

      - name: delete QML tooling
        run: |
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\qmllint"
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\qmlls"
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\qmltooling"

      - name: package app using windowsdeployqt
        run: |
          mkdir ${{github.workspace}}\${{env.APPNAME}}
          Copy-Item -Path "build\${{env.CMAKETARGET}}.exe" -Destination "${{github.workspace}}\${{env.APPNAME}}\${{env.APPNAME}}.exe"
          Get-ChildItem -Path build -Filter *.dll -Recurse | ForEach-Object {Copy-Item $_.FullName -Destination ${{github.workspace}}\${{env.APPNAME}} -Force}
          & "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\bin\windeployqt.exe" ${{github.workspace}}\${{env.APPNAME}}\${{env.APPNAME}}.exe -qmldir=${{github.workspace}}\..\SGEXTN\SG_Widgets\assets

      - name: write version file
        run: |
          New-Item -Path "${{github.workspace}}\build\version.txt" -ItemType File -Force
          Add-Content -Path "${{github.workspace}}\build\version.txt" -Value "using Qt version ${{env.QTVERSION}}"
          Add-Content -Path "${{github.workspace}}\build\version.txt" -Value "using compiler version $((Get-Command g++).FileVersionInfo.FileVersion)"
          Add-Content -Path "${{github.workspace}}\build\version.txt" -Value "building application ${{env.APPNAME}} version ${{env.VERSION}}"
          Copy-Item "${{github.workspace}}\build\version.txt" "${{github.workspace}}\${{env.APPNAME}}\version.txt"

      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-build
          path: build

      - name: delete everything to ensure app can run on machine of non programmer user
        run: |
          cd ..
          mv ${{github.workspace}}\${{env.APPNAME}} ${{github.workspace}}\..\${{env.APPNAME}}
          Remove-Item -Recurse -Force Qt
          Remove-Item -Recurse -Force SGEXTN\build
          Remove-Item -Recurse -Force -ErrorAction SilentlyContinue build
          choco uninstall -y git
          choco uninstall -y wget
          mv ${{github.workspace}}\..\${{env.APPNAME}} ${{github.workspace}}\${{env.APPNAME}}

      - name: Test run app
        shell: powershell
        run: |
          Get-ChildItem "${{env.APPNAME}}\${{env.APPNAME}}.exe" | Format-List *
          $logFile = "logs.txt"
          $exePath = "${{env.APPNAME}}\${{env.APPNAME}}.exe"
          $args = "${{env.TESTARG}}"
          $stream = [System.IO.StreamWriter]::new($logFile, $true)
          $stream.AutoFlush = $true
          $process = New-Object System.Diagnostics.Process
          $process.StartInfo.FileName = $exePath
          $process.StartInfo.Arguments = $args
          $process.StartInfo.UseShellExecute = $false
          $process.StartInfo.RedirectStandardOutput = $true
          $process.StartInfo.RedirectStandardError = $true
          $process.StartInfo.CreateNoWindow = $true
          $process.add_OutputDataReceived({ if ($_.Data) { $stream.WriteLine($_.Data) } })
          $process.add_ErrorDataReceived({ if ($_.Data) { $stream.WriteLine($_.Data) } })
          try {
            $process.Start() | Out-Null
          } catch {
            $stream.WriteLine("CreateProcess failed:")
            $stream.WriteLine($_.Exception.Message)
            $stream.Close()
            exit 5
          }
          $process.BeginOutputReadLine()
          $process.BeginErrorReadLine()
          $process.WaitForExit()
          $exitCode = $process.ExitCode
          $stream.WriteLine("Exit code: $exitCode")
          if ($exitCode -ne 0) {
            stream.WriteLine("")
            $stream.WriteLine("=== Windows Application Event Log (loader errors) ===")
            wevtutil qe Application /q:"*[System[(EventID=1000 or EventID=1026)]]" /f:text /c:5 |
            ForEach-Object { $stream.WriteLine($_) }
          }
          $stream.Close()
          if ($exitCode -ne 0) {
            Get-Content $logFile | Out-Host
            exit $exitCode
          }

      - name: print logs
        if: always()
        run: |
          Get-Content logs.txt

      - name: upload binary
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-binary
          path: ${{env.APPNAME}}

      - name: upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-logs
          path: logs.txt
