name: Windows build and test

on:
  workflow_dispatch:

env:
  APPNAME: sg-extn
  VERSION: 6.1.0
  QTVERSION: 6.10.1
  CMAKETARGET: InternalTest
  TESTARG: --SG-test
  PLATFORM: windows-llvm-mingw

jobs:
  build:
    name: build app
    runs-on: windows-latest

    steps:
      - name: pull repository
        uses: actions/checkout@v3

      - name: install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QTVERSION}}
          host: windows
          target: desktop
          dir: ${{github.workspace}}\..
          cache: true
          modules: qtshadertools

      - name: install compiler and related
        run: |
          echo "ls of .."
          Get-ChildItem -Path (Resolve-Path "..")
          echo "ls of ../Qt"
          Get-ChildItem -Path (Resolve-Path "..\Qt")
          echo "ls done"
          @"
          function Controller() {}
          function Component() {
              var packages = ["qt.tools.llvm-mingw", "qt.tools.cmake", "qt.tools.ninja"];
              for (var i=0;i<packages.length;i++) installer.addPackage(packages[i]);
          }
          "@ | Set-Content "${{github.workspace}}\..\Qt\install.qs" -Encoding UTF8
          & (Resolve-Path "${{github.workspace}}\..\Qt\MaintenanceTool.exe") --script (Resolve-Path "${{github.workspace}}\..\Qt\install.qs")
          echo "listing plugins in Qt"
          Get-ChildItem -Path (Resolve-Path "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins")

      - name: install devtools
        run: |
          choco install -y cmake
          choco install -y git
          choco install -y wget

      - name: delete unnecessary Qt plugins
        run: |
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\designer"
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\help"
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\sqldrivers"

      - name: build application binary
        run: |
          $env:PATH = "${{github.workspace}}\..\Qt\Tools\CMake_64\bin;${{github.workspace}}\..\Qt\Tools\Ninja;${{github.workspace}}\..\Qt\Tools\llvm-mingw1706_64\bin;" + $env:PATH
          mkdir build
          cd build
          cmake .. -G "Ninja" -DCMAKE_PREFIX_PATH=../../Qt/${{env.QTVERSION}}/llvm-mingw_64
          cmake --build . --config Release

      - name: delete QML tooling
        run: |
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\qmllint"
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\qmlls"
          Remove-Item -Recurse -Force "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\plugins\qmltooling"

      - name: package app using windowsdeployqt
        run: |
          mkdir ${{github.workspace}}\${{env.APPNAME}}
          Copy-Item -Path "build\${{env.CMAKETARGET}}.exe" -Destination "${{github.workspace}}\${{env.APPNAME}}\${{env.APPNAME}}.exe"
          Get-ChildItem -Path build -Filter *.dll -Recurse | ForEach-Object {Copy-Item $_.FullName -Destination ${{github.workspace}}\${{env.APPNAME}} -Force}
          & "..\Qt\${{env.QTVERSION}}\llvm-mingw_64\bin\windeployqt.exe" ${{github.workspace}}\${{env.APPNAME}}\${{env.APPNAME}}.exe -qmldir=${{github.workspace}}\..\SGEXTN\SG_Widgets\assets

      - name: write version file
        run: |
          New-Item -Path "${{github.workspace}}\build\version.txt" -ItemType File -Force
          Add-Content -Path "${{github.workspace}}\build\version.txt" -Value "using Qt version ${{env.QTVERSION}}"
          Add-Content -Path "${{github.workspace}}\build\version.txt" -Value "using compiler version $((Get-Command g++).FileVersionInfo.FileVersion)"
          Add-Content -Path "${{github.workspace}}\build\version.txt" -Value "building application ${{env.APPNAME}} version ${{env.VERSION}}"
          Copy-Item "${{github.workspace}}\build\version.txt" "${{github.workspace}}\${{env.APPNAME}}\version.txt"

      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-build
          path: build

      - name: delete everything to ensure app can run on machine of non programmer user
        run: |
          cd ..
          mv ${{github.workspace}}\${{env.APPNAME}} ${{github.workspace}}\..\${{env.APPNAME}}
          Remove-Item -Recurse -Force Qt
          Remove-Item -Recurse -Force SGEXTN
          Remove-Item -Recurse -Force ${{github.workspace}}
          choco uninstall -y cmake
          choco uninstall -y git
          choco uninstall -y wget
          mkdir ${{github.workspace}}
          mv ${{github.workspace}}\..\${{env.APPNAME}} ${{github.workspace}}\${{env.APPNAME}}

      - name: test run app
        run: |
          & ${{env.APPNAME}}\${{env.APPNAME}}.exe ${{env.TESTARG}} > logs.txt 2>&1
          $exitCode = $LASTEXITCODE
          Write-Output "Exit code: $exitCode" | Out-File -Append logs.txt
          if ($exitCode -ne 0) { Get-Content logs.txt; exit $exitCode }

      - name: upload binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-binary
          path: ${{env.APPNAME}}

      - name: upload logs
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.PLATFORM}}-${{env.APPNAME}}-${{env.VERSION}}-logs
          path: logs.txt
